/*.button {
    -fx-text-fill: DarkBlue	;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#1affff, #809fff);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.label {
    -fx-font-size: 16px;
    /*-fx-font-weight:bold;*/
    /*-fx-background-color:  #ccf2ff;*/

   /* -fx-text-fill:   #1a8cff;
   /* -fx-highlight-text-fill:  #ff99e6;
    -fx-effect: dropshadow( gaussian , rgba(120, 90, 90, 0.5), 0,0,0,1 );
}
.table-row-cell:selected {
    -fx-background-color: #66ffb3;


}
.table-row-cell:selected .text {
    -fx-fill:  #00331a;
}

/*.text{*/
/*    -fx-fill: #0000e6;*/
/*}
.table-view{
    -fx-background-color:  #c266ff;
    -fx-font-size: 16px;
}
*/